.products {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(
      200px,
      1fr
    )
  );
  gap: 1rem;
  width: 100%;
}

.products li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: 15px;
  background: #111;
  color: #fff;
  padding: 1rem;
}

.products li:hover {
  background: #252525;
  cursor: pointer;
}

.products h3 {
  margin: 0;
}

.products span {
  font-size: 1rem;
  opacity: .9;
}


.removeFromCartButton{
  background-color: #c22828;
}
.addToCartButton{
  background-color: #09f;
}